<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
    </startup>
  <appSettings>
    <add key="PublishableKey" value="pk_test_3RshjIpKWmwnm0GVvkv23JLH"/>
    <add key="ApiKey" value="sk_test_SAQB5xoKmJry2kMR8m6TOkdX"/>
  </appSettings>
</configuration>