
@{
    ViewBag.Title = "Schedules/Planner";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@if (!string.IsNullOrEmpty(Request.Params["studentId"]))
{
    Html.RenderAction("SchedulerPartial", new { studentid = User.Identity.GetUserId() });
}
else
{
    using (Ajax.BeginForm(new AjaxOptions()
    {
        Url = Url.Action("SchedulerPartial"),
        UpdateTargetId = "container",
        OnBegin = "showLoading()",
        OnComplete = "hideLoading()"

    }))
    {
        <div class="row">
            <div class="col-lg-4">
                @Html.DevExpress().ComboBox(settings =>
                {
                    settings.Name = "StudentId";
                    settings.Properties.ValueField = "Id";
                    settings.Properties.TextField = "FullName";
                    settings.Properties.Caption = "Student";
                    settings.Properties.ClientSideEvents.ValueChanged = "function(s,e){EnrollmentId.PerformCallback({studentId:StudentId.GetValue()})}";
                }).BindList(new UnitOfWork().UserDetailsRepo.Get()).GetHtml()
            </div>
            <div class="col-lg-4">
                @Html.Action("CboEnrollment")
            </div>
            <div class="col-lg-3">
                @Html.DevExpress().Button(settings =>
           {
               settings.Name = "btnSubmit";
               settings.Text = "Submit";
               settings.UseSubmitBehavior = true;
           }).GetHtml()
            </div>
        </div>
    }
    <div id="container">

    </div>
}
